.form{
    display: flexbox;
    width: 25%;
    text-align: center;
    margin: 20px auto;
    padding: 15px;
    font-size: 25px;
    color:black;
    font-weight: bolder;
   
}
input, textarea{
    font-size: 20px; 
    text-align: center;
    margin:auto; 
    padding: 5px;
    border: solid 3px;
    border-color:  rgb(112, 168, 168);
    border-radius: 15px;
    color:black;
    cursor:auto;
}

.addBtn{
    font-size: 40px;
    background-color: #b647e9;
    border:solid 6px #b647e934;
    border-radius: 15px;
    color:white;
}

.addBtn:hover{
    transform: scale(1.1);
    cursor:pointer;
}